[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest/
[submodule "external/bwapi"]
	path = external/bwapi
	url = https://github.com/N00byEdge/bwapi/
	branch = develop
