[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest/
[submodule "external/openbw-bwapi"]
	path = external/openbw-bwapi
	url = https://github.com/kant2002/bwapi
	branch = develop-openbw
[submodule "external/openbw"]
	path = external/openbw
	url = https://github.com/OpenBW/openbw
